<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Histórico de Ações</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/historico.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='Images/icon.png') }}">
</head>

<header>
    <div class="logo">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='Images/logo.png') }}" alt="Logo Steve">
        </a>
    </div>

    <nav class="menu-links">
        <a href="#section-image-text">Missão</a>
        <a href="#menu">Menu Steve</a>
        <a href="/sair" class="logout"><button>Sair</button></a>
    </nav>
</header>

<body>

    <h1>Histórico de Ações</h1>

    <div class="container">

        {% if historico %}
        <ul class="historico-list">
            {% for acao in historico %}
            <li>{{ acao }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Nenhuma ação registrada ainda.</p>
        {% endif %}
    </div>
</body>

</html>