* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #88b8eb;
  color: white;
  padding: 10px 40px; 
}

header .logo img {
  height: 80px;
  cursor: pointer;
}

header .menu-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

header .menu-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

header .menu-links a:hover {
  color: #a09aee;
}

header .menu-links .logout button {
  padding: 8px 15px;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

header .menu-links .logout button:hover {
  background-color: #a09aee;
  color: #fff;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    min-height: 100vh;
}

/* Título centralizado */
h1 {
    margin-bottom: 30px;
    color: #1a3b5d;
    text-align: center;
    padding-top: 40px;
}


.container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
    width: 400px;
    margin: 0 auto; 
}


.descricao {
    font-weight: bold;
    color: #555;
    padding-bottom:25px;
}

.container input[type="email"] {
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 20px;
}

.container button {
    width: 100%;
    padding: 12px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.container button:hover {
    background-color: #a09aee;
}

.mensagem {
    margin-top: 20px;
    font-weight: bold;
}


