* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #88b8eb;
  color: white;
  padding: 10px 40px; 
}

header .logo img {
  height: 80px;
  cursor: pointer;
}

header .menu-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

header .menu-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

header .menu-links a:hover {
  color: #a09aee;
}

header .menu-links .logout button {
  padding: 8px 15px;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

header .menu-links .logout button:hover {
  background-color: #a09aee;
  color: #fff;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f0f4f8;
  height: 100vh;
  margin: 0;
  color: #333;
}


h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 20px;
  font-size: 2rem;
  padding-top: 20px;
}


form {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}


form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}


form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: 0.3s border-color ease;
}


form input:focus {
  outline: none;
  border-color: #4facfe;
  box-shadow: 0 0 5px rgba(79, 172, 254, 0.5);
}

form button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


form button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 242, 254, 0.4);
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mensagem-sucesso {
  background: #d4edda;
  color: #155724;
  padding: 10px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

